p {
    font-family: "Times New Roman";
}

h1 {
    text-decoration-color: white;
}

input {
    align-content: inherit;
    background-color: inherit;
    margin: 1%; /* Add padding to the input field */

}

.main {
    flex-direction: column; /* Align items from top to bottom */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: maroon;
    font-family: "Comic Sans MS";
}

.sign-in-div {
    position: relative;
    align-content: left;
    padding-left: 1vw;
}

.sign-up-div {
    position: relative;
}

.central-content {
    flex-direction: initial;
    align-content: center;
    width: 625px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: space-between; /* To push the left and right content to the edges */
    display: flex;
    justify-content: space-between; /* To push the left and right content to the edges */
    align-items: center; /* Align items vertically */
}
