.box {
    border: 1px solid #000;
    background-color: #FF7F50;
    width: 739px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border: 1px solid #000;
    height: 25px;
}

.row-urls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border: 1px solid #000;
    height: 50px;    
}

.row-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border: 1px solid #000;
    height: 50px;
}

.row button {
    margin-left: 10px; /* Add some space between text and button */
}

