.main {
    height: 100vh;
    min-height : 100vh;
    background-color: rgb(127, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Added to center horizontally */
    font-family: "Comic Sans MS";
    color: white
}

button {
    align-self: center;
    justify-self: center;
}

img {
    padding-top: 10vh;
    height: 191px;
    width: 400px;
    margin-bottom: 20px; /* Add margin to bottom for consistent spacing */
    display: block; /* Ensures image is treated as a block element */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
}

input {
    padding: 2px 0px 2px;
    align-self: center;
    align-content: center;
    justify-self: center;
    background-color: lightgrey;
}

form {
    padding-top: 5vh;
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-family: "Comic Sans MS";
    outline: gray;
}
